{% extends 'layout.html' %}

{% block content %}
<div class="row-fluid">
    <h1>Freeform Tools</h1>
    <p>Use Beluga tools to demonstrate concepts in your classroom.</p>
</div>

<div class="row-fluid">

    {% for tool in tools %}
    <div class="tool span4">
        {% if tool.link %}
            <a href="/tools/geoboard/" class="content">
                <img src="img/{{ tool.image }}">
                <h3>{{ tool.title }}</h3>
            </a>
        {% else %}
            <div class="content">
                <img src="img/{{ tool.image }}">
                <h3>{{ tool.title }}</h3>
            </div>
            <img src="img/comingsoon_banner.png" class="comingsoon">
        {% endif %}
        <ul class="tags">
            {% for tag in tool.tags %}
            <li>
                <a>{{ tag }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

</div>
{% endblock %}
