{% extends 'layout.html' %}

{% block content %}
<h1>Freeform Tools</h1>
<p class="lead">Use Beluga tools to demonstrate concepts in your classroom.</p>
{% for tool in tools %}
<div class="tool{% if loop.index % 3 == 0 %} end{% endif %}">
    {% if tool.link %}
        <a href="{{ tool.link }}" class="details" target="_new">
            <img src="img/{{ tool.image }}">
            <h3>{{ tool.title }}</h3>
        </a>
    {% else %}
        <div class="details">
            <img src="img/{{ tool.image }}">
            <h3>{{ tool.title }}</h3>
        </div>
        <img src="img/comingsoon_banner.png" class="comingsoon">
    {% endif %}
    <ul class="tags">
        {% for tag in tool.tags %}
        <li>
            <a>{{ tag }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
{% endblock %}
