{% extends 'layout.html' %}

{% block pageclass %}page{% endblock %}
{% block js %}
<script type="text/javascript">

  $(function () {
    var $tool = $('#tool');
    $tool.load(function () {

      var toolWindow = $tool.get(0).contentWindow;

      $('a#fullscreen').click(function (e) {
        e.preventDefault();

        $tool.get(0).webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT); //Chrome
        $tool.get(0).mozRequestFullScreen(); //Firefox
      });

      var menuOptions = window.bl.contentService.getMenuOptions({ tool: 'sorting' });

      var menuHtml = (function buildMenu(item) {
        var $subhtml = $('<div />').addClass('child_menu');
        $subhtml.append($('<h4 />').text(item.title));

        var types = [];
        var min = Infinity;
        var max = Infinity * -1;
        var gaps = [];
        var hasValues = item.options[0].hasOwnProperty('value');

        function allTheSame (arr) {
          var ret = true;
          for(var i = 1; i < arr.length; i++) {
            if(arr[i] !== arr[0]) {
                ret = false;
                break;
            }
          }
          return ret;
        }


        function chooseControl(sub_item) {
          if (allTheSame(types)) {
            // are they integers
            if (types[0] === typeof 1) {

              $li.append(sub_item.title);
              var $check = $('<input type="checkbox" class="option" name="" />').data({
                      'key': sub_item.key,
                  })
              $li.append($check);
              
            } else if (types[0] === typeof true) {
              // are they booleans
              if (i < 1) { // onlu show one
                $li.append('Enabled');
                var $check = $('<input type="checkbox" class="option" name="" />').data({
                        'key': sub_item.key,
                    })
                $li.append($check);
              }
            } else {
              // are they strings?

              $li.append(sub_item.title);
              var $check = $('<input type="checkbox" class="option" name="" />').data({
                      'key': sub_item.key,
                  })
              $li.append($check);
              
            }
          } else {       

            $li.append(sub_item.title);         
            var $check = $('<input type="checkbox" class="option" name="" />').data({
                    'key': sub_item.key,
                })
            $li.append($check);
          }
        }

        // is this a set of values?
        if (hasValues) {

          // let's determine the type of the values.
          for (var i = 0; i < item.options.length; i++) {
            var sub_item = item.options[i];
            var type = typeof sub_item.value;
            types.push(type);

            if (type === typeof 1) {
              min = Math.min(min, sub_item.value);
              max = Math.max(max, sub_item.value);
              if (i > 0) {
                var prev_sub_item = item.options[i-1];
                gaps.push(sub_item.value - prev_sub_item.value);
              }
            }
          }

        }

        if (item.allowAny) {
          $subhtml.append($('<a />').addClass('any').addClass('on').text('Any : on'));
        }

        var $ul = $('<ul />');

        for (var i = 0; i < item.options.length; i++) {
          var sub_item = item.options[i];
          var $li = $('<li />');
          if (sub_item.hasOwnProperty('options') && !hasValues) { // if we need to recurse
              var $a = $('<a>').attr({
                      'href': '',
                      'class': sub_item.key
                  }).data({
                      'key': sub_item.key
                  }).text(sub_item.title);

                  $li.addClass('link').append($a);
                  $li
                    .append(
                        buildMenu(sub_item)
                    );
          } else { // we need to display a value

              chooseControl(sub_item);

          }
          $ul.append($li);
        }

        if (hasValues) {
          var $inputs = $ul.find('input');
          // once we've drawn it's controls
          // pick some random options based on this option's limits
          if (item.minOptions == item.maxOptions) {
            // select just 
            var selectedIndices = [];
            for (var i = item.minOptions; i <= item.maxOptions; i++) {
              var index = Math.floor(Math.random() * $inputs.length)
              while (selectedIndices.indexOf(index) > -1){
                index = Math.floor(Math.random() * $inputs.length);
              }
              selectedIndices.push(index);
              // TODO: include excusivity filter from content-service
              $($inputs.get(index)).prop('checked', true);
            }

          } else if (item.minOptions < item.maxOptions) {
            // select a random number to enable between min and max

          }
        }

        return $subhtml.append($ul);
      })(menuOptions);

      $('#tool_settings .menu')
        .append(menuHtml)
        .height(function () {
          var h = 0;
          $(this).find('div.child_menu').each(function () {
            h = Math.max($(this).height() + 10, h);
          }).height(h);
          return h;
        })
        .addClass('built');

      var setQuestion = function () {
        top.bl.toolLayer.reset();
        top.bl.toolLayer.setQuestion(
          top.bl.contentService.question()
        );
        var $scope = $('#tool_settings .menu');
        var currentOptions = window.bl.contentService.getCurrentOptions()
        for (var key in currentOptions) {
          if (currentOptions.hasOwnProperty(key)) {
            var $s = $scope
              .find('a.' + key + '_' + currentOptions[key])
                .parent('li')
                  .addClass('selected');
            $scope = $s.length > 0 ? $s : $scope;
          }
        }
      }

      $('#tool_settings .menu a.any').on('click', function (e) {
        var $this = $(this);
        $this.addClass('on');
        $this.text(function () {
          if ($this.text().indexOf(' : off') > -1) {
            return $this.text().replace(' : off', ' : on');
          }
        });
        $this.parent().find('li').removeClass('selected');
      });

      $('#tool_settings .menu li.link > a').on('click', function (e) {
          e.preventDefault();
          var $this = $(this);
          $this.parent().parent().parent()
            .find('> .any')
              .removeClass('on') // deselect the any
              .text(function () {
                if ($(this).text().indexOf(' : on') > -1) {
                  return $(this).text().replace(' : on', ' : off');
                }
              });
          $this.parent().parent().find('> li').removeClass('selected');
          $this.parent().addClass('selected');
          setQuestion();
      });

      window.toolLoaded = function () {
        $('#tool_settings .menu a:first').click();
      };

      $('input').on('change', function () {
          var setChanged = $(this).data('changed');
          setChanged($(this).is(':checked'));
      })
    });
  });
</script>
{% endblock %}
{% block root %}
<div id="tool_frame">
  <a href="" id="fullscreen">Fullscreen</a>
  <div id="tool_settings">
      <a href=""><i class="icon gear"></i>Question Setup</a>
      <div class="menu"></div>
  </div>
  <iframe src="/web-client/host" id="tool" seamless></iframe>
</div>
{% endblock %}
