{% extends 'layout.html' %}

{% block pageclass %}page{% endblock %}
{% block js %}
<script type="text/javascript">
  $(function () {
    var $tool = $('#tool');
    $tool.load(function (){

      var toolWindow = $tool.get(0).contentWindow;

      $('a#fullscreen').click(function (e) {
        e.preventDefault();

        $tool.get(0).webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT); //Chrome
        $tool.get(0).mozRequestFullScreen(); //Firefox
      });

      var menuOptions = window.bl.contentService.getMenuOptions({ tool: 'sorting' });

      var menuHtml = (function buildMenu(items) {
        var $subhtml = $('<ul />');
        for (var i = 0; i < items.length; i++) {
          var item = items[i];
          var $li = $('<li />');
          if (item.children.length > 0) {
              var $a = $('<a>').attr({
                      'href': '',
                      'class': item.type + '_' + item.key
                  }).data({
                      'type': item.type,
                      'key': item.key,
                      'changed': item.setSelected,
                  }).text(item.name);

                  $li.append($a)
                      .append(
                          buildMenu(item.children)
                      );
          } else {
              $li.append(item.name);
              var $check = $('<input type="checkbox" class="option" name="" checked />').data({
                      'key': item.key,
                      'changed': item.setSelected,
                  })
              $li.append($check);
          }
          $subhtml.append($li);
        }
        return $subhtml;
      })(menuOptions);

      $('#tool_settings .menu')
        .append(menuHtml)
        .height(function () {
          var h = 0;
          $(this).find('ul').each(function () {
            h = Math.max($(this).height() + 10, h);
          }).height(h);
          return h;
        })
        .addClass('built');

      var setQuestion = function () {
        top.bl.toolLayer.reset();
        top.bl.toolLayer.setQuestion(
          top.bl.contentService.question()
        );
        var $scope = $('#tool_settings .menu');
        var currentOptions = window.bl.contentService.getCurrentOptions()
        for (var key in currentOptions) {
          if (currentOptions.hasOwnProperty(key)) {
            var $s = $scope
              .find('a.' + key + '_' + currentOptions[key])
                .parent('li')
                  .addClass('selected');
            $scope = $s.length > 0 ? $s : $scope;
          }
        }
      }

      $('#tool_settings a').on('click', function (e) {
          e.preventDefault();
          var $this = $(this);
          var setChanged = $this.data('changed');
          $this.parent().parent().find('> li').removeClass('selected');
          $this.parent().addClass('selected');
          setChanged(true);
          setQuestion();
      });

      $('input').on('change', function () {
          var setChanged = $(this).data('changed');
          setChanged($(this).is(':checked'));
          setQuestion();
      })
    });
  });
</script>
{% endblock %}
{% block content %}
<h1>{{ toolName|title }}</h1>
<a href="" id="fullscreen">Fullscreen</a>
<div id="tool_frame">
  <div id="tool_settings">
      <a href=""><i class="icon gear"></i>Question Setup</a>
      <div class="menu"></div>
  </div>
  <iframe src="/web-client/host" id="tool" seamless></iframe>
</div>
{% endblock %}
